.cart 
{
    background: #fff;
    text-align: right;
    border-bottom: 1px solid #ececec;
    padding-bottom: 10px;
}
.input-group 
{
    padding-top: 15px;
}
.fa-search:hover 
{
    color:#6930f5;
}
.cart .container a 
{
    color: #232323;
    font-size: 17px;
}
.cart .container a:hover 
{
    color: #6930f5;
}
.cart .container a>span:hover
{
    color: #6930f5;
}
.cart .container span 
{
    color:#c8c8c8;
    padding-left: 12px;
    margin-right: 16px;
}
.top-header nav 
{
    padding: 30px;
}
.navbar-nav
{
    float: right;
}
.bg-nav .container .navbar-nav .nav-item 
{
    padding-left: 3em;
}
.bg-nav .container .navbar-nav .nav-item .nav-link 
{
    color: #888888;
}
.bg-nav .container .navbar-nav .nav-item .nav-link:hover 
{
    color: #000;
}
.bg-nav .container .navbar-nav .nav-item .btn 
{
    color: #888888;
}
.carousel-control-prev
{
    padding-right: 90px;
}
.carousel-control-next
{
    padding-left: 90px;
}
@media (max-width: 768px)
{
    /* 1 */
    .text 
    {
        color: #fff;
        font-size: 20px;
        text-align: left;
        margin-bottom: -2px;
    }
    .text-nav 
    {
        font-style: normal;
        color: #ffffff;
        font-size: 10px;
        text-align: left;
        margin-bottom: -2px;
    }
    .shop-1
    {
        background: #3b3b3b;
        color: #fff;
        padding: 5px 15px;
        font-size: 7px;
        border-radius: 5%;  
    }
    .shop-1:hover 
    {
        background: #6930f5;
        color: #fff;
    }
   .carousel-caption .canh-0 p 
   {
       text-align: left;
   }
   .carousel-caption .canh-0
    {
        margin-bottom: -15px;
    }
    /* 2 */
    .sale-1
    {
        font-style: normal;
        color: #ffffff;
        font-size: 10px;
        text-align: center;
        margin-bottom: -1px;
    }
    .sale-2 
    {
        font-style: normal;
        color: #ffffff;
        font-size: 20px;
        margin-bottom: -1px;
    }
    .sale-3 
    {
        font-style: normal;
        color: #ffffff;
        font-size: 10px;
        margin-bottom: 5px;
    }
    .shop-2
    {
       background: #3b3b3b;
       color: #fff;
       padding: 8px 16px;
       font-size: 7px;
       border-radius: 5%; 
    }
    .shop-2:hover 
    {
       background: #6930f5;
       color: #fff;
    }
    .canh-1 
    {
        margin-bottom: -23px;
    }
    /* 3 */
    .text-1 
    {
        text-align: right;
        font-style: normal;
        color: #222222;
        font-size: 16px;
    }
    .text-2 
    {
        text-align: right;
        font-style: normal;
        color: #222222;
        font-size: 10px;
        margin-bottom: -0px;
    }
    .shop-3
    {
       background: #3b3b3b;
       color: #fff;
       padding: 7px 15px;
       font-size: 8px;
       border-radius: 5%; 
    }
    .shop-3:hover 
    {
       background: #6930f5;
       color: #fff;
    }
    .carousel-item .canh-2 p 
    {
        text-align: right;
    } 
    .canh-2 
    {
        margin-bottom: -20px;
    }
    .centered 
    {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -70%);
    }
    .col-md-3
    {
        margin-top: 15px;
    }
}
@media (min-width:768px)
{
    /* 1 */
    .text 
    {
        font-style: normal;
        color: #fff;
        font-size: 50px;
        text-align: left; 
        padding-bottom: 10px;
    }
    .text-nav 
    {
        font-weight: 500;
        font-style: normal;
        color: #ffffff;
        font-size: 16px;
        text-align: left;
        padding-bottom: 10px;
    }
    .shop-1
    {
        background: #3b3b3b;
        color: #fff;
        padding: 13px 23px;
        font-size: 18px;
        border-radius: 5%; 
    }
    .shop-1:hover 
    {
        background: #6930f5;
        color: #fff;
    }
    .carousel-caption .canh-0 p {
        text-align: left;
    }
    /* 2 */
    .sale-1
    {
        font-style: normal;
        color: #ffffff;
        font-size: 20px;
    }
    .sale-2 
    {
        font-style: normal;
        color: #ffffff;
        font-size: 60px;
    }
    .sale-3 
    {
        font-style: normal;
        color: #ffffff;
        font-size: 45px;
        padding-bottom: 10px;
    }
    .shop-2
    {
       background: #3b3b3b;
       color: #fff;
       padding: 15px 30px;
       font-size: 15px;
       border-radius: 5%; 
    }
    .shop-2:hover 
    {
       background: #6930f5;
       color: #fff;
    }
    /* 3 */
    .text-1 
    {
        text-align: right;
        font-style: normal;
        color: #222222;
        font-size: 50px;
    }
    .text-2 
    {
        text-align: right;
        font-style: normal;
        color: #222222;
        font-size: 25px;
        padding-bottom: 10px;
    }
    .shop-3
    {
       background: #3b3b3b;
       color: #fff;
       padding: 13px 30px;
       font-size: 15px;
       border-radius: 5%; 
    }
    .shop-3:hover 
    {
       background: #6930f5;
       color: #fff;
    }
    .carousel-item .canh-2 
    {
        padding-bottom: 0px;
    }
    .carousel-item .canh-2 p 
    {
        text-align: right;
    } 
    .centered 
    {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -75%);
      }
}
@media (min-width:1200px) 
{
    /* 1 */
    .text 
    {
        font-weight: 600;
        font-style: normal;
        color: #fff;
        font-size: 71px;
        text-align: left;
        padding-bottom: 20px; 
    }
    .text-nav 
    {
        font-weight: 500;
        font-style: normal;
        color: #ffffff;
        font-size: 24px;
        text-align: left;
        padding-bottom: 20px;
    }
    .shop-1
    {
        background: #3b3b3b;
        color: #fff;
        padding: 15px 40px;
        font-size: 20px;
        border-radius: 5%; 
    }
    .shop-1:hover 
    {
        background: #6930f5;
        color: #fff;
    }
    .canh-0 
    {
         padding-bottom: 100px; 
    }
    .carousel-caption .canh-0 p 
    {
        text-align: left;
    }
    /* 2 */
    .sale-1
    {
        font-weight: 500;
        font-style: normal;
        color: #ffffff;
        font-size: 24px;
    }
    .sale-2 
    {
        font-weight: 400;
        font-style: normal;
        color: #ffffff;
        font-size: 140px;
    }
    .sale-3 
    {
        font-weight: 400;
        font-style: normal;
        color: #ffffff;
        font-size: 62px;
        padding-bottom: 40px;
    }
    .carousel-item .canh-1 
    {
        padding-bottom: 50px; 
    }
    .shop-2
    {
       background: #3b3b3b;
       color: #fff;
       padding: 15px 40px;
       font-size: 20px;
       border-radius: 5%; 
    }
    .shop-2:hover 
    {
       background: #6930f5;
       color: #fff;
    }
    /* 3 */
    .text-1 
    {
        text-align: right;
        font-weight: 400;
        font-style: normal;
        color: #222222;
        font-size: 71px;
    }
    .text-2 
    {
        text-align: right;
        font-weight: 400;
        font-style: normal;
        color: #222222;
        font-size: 23px;
        padding-bottom: 10px;
    }
    .shop-3
    {
       background: #3b3b3b;
       color: #fff;
       padding: 15px 40px;
       font-size: 20px;
       border-radius: 5%; 
    }
    .shop-3:hover 
    {
       background: #6930f5;
       color: #fff;
    }
    .carousel-item .canh-2 
    {
        padding-bottom: 100px;
    }
    .carousel-item .canh-2 p 
    {
        text-align: right;
    } 
    .centered 
    {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -150%);
      }
}
.bg-banner .row .col-md-6 span
{
    color:#b227d1;
}
.bg-banner .row .col-md-6 h2
{
    font-size: 40px;
    color: #5832f5;
}
.bg-banner .row .col-md-6 a 
{
    color:#fff;
}
.bg-banner .row .col-md-6 .text-shopnow 
{
    color: #222;
}
.container h2 
{
    text-align: center;
    padding-top: 2em;
    color: #222;
}
.container p 
{
    text-align: center;
    color: #999;
    padding-bottom: 1em;
}
.item 
{
    background: #fff;
    text-align: center;
    border: 1px solid #e8e8e8;
    padding: 0px 10px;
    padding-top: 30px;
    padding-bottom: 25px;
    opacity: 1;
}
.item:hover 
{
    background: #fff;
    text-align: center;
    border: 1px solid #e8e8e8;
    padding: 0px 10px;
    padding-top: 30px;
    padding-bottom: 25px;
    opacity: 0.5;
}
.drones .row .item h5
{
    margin-top: 10px;
    color:#373737;
    font-size: 15px;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.drones .row .item p
{
    margin-top: -10px;
    text-align: center;
    color:#f183ff;
    font-size: 20px;
}
.btn-add 
{
    background: #3b3b3b;
    color: #fff;
    border-radius: 8px;
    font-size: 14px;
    padding: 5px 30px;
}
.btn-add:hover 
{
    background: #6930f5;
    color: #fff;
}
.view 
{
    margin-top: 50px;
    margin-bottom: 80px;
    text-align: center;
}
.view a
{
    color:#5832f5;
}
.view a:hover
{
    color:#222;
}
.arrivals 
{
    background: #f6f6f6;
    padding: 5px;
}
.arrivals .row .item h5
{
    margin-top: 10px;
    color:#373737;
    font-size: 15px;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.arrivals .row .item p
{
    margin-top: -10px;
    text-align: center;
    color:#f183ff;
    font-size: 20px;
}
.support .col-md-6
{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.support .col-md-6 h3:hover
{
    color:#5832f5;
}
.support .col-md-6 p .read:hover
{
   color:#222;
}
.support .col-md-6 p .read
{
   color:#5832f5;
}
.support .col-md-6 p
{
   color: #999999;;
}
.fa-hdd 
{
    color: #5832f5;
}
.fa-headphones 
{
    color:#5832f5;
}
.arrivals .row .col-md-3 .tacgia
{
    color: #262626;
}
.arrivals .row .col-md-2 img
{
    border-radius: 99%; 
}
.dev 
{
    color:#5a34f5;
}
.arrivals .row .col-md-6 p
{
    background: #fff;
    padding: 20px 30px;
    text-align: left;
    border: 1px solid #e8e8e8;
}
.email
{
    background-image:url(../images/mt-1169_home_bg03.jpg);
    padding: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    text-align: center;
    color: #fff;
}
.email .from .input
{
   padding: 10px;
   border: 1px solid #222;
   border-radius: 6px;
}
.sub
{
    background: #3b3b3b;
    color: #fff;
    padding: 12px 20px;
    border-radius: 5%; 
}
.sub:hover {
    background: #fff;
    color: #222;
}
.main-content
{
    background: #222;
    padding-bottom: 50px;
}
.main-content .content
{
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    text-align: left;
    color: #fff;
    padding-top: 80px;
    padding-bottom: 0px;
}
.main-content .content-1
{
    font-weight: 400;
    font-style: normal;
    text-align: left;
    color: #999;  
}
.main-content .content-5
{
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    text-align: left;
    color: #999;  
}
.main-content .content-2
{
    font-weight: 400;
    font-style: normal;
    text-align: left;
    color: #999;  
}
.main-content .content-2:hover
{
    font-weight: 400;
    font-style: normal;
    text-align: left;
    color: #492ebb;  
}
.main-content .col-md-3 .drone
{
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    text-align: left;
    color: #492ebb;  
}
.main-content .col-md-3 .drone .content-3
{
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    text-align: left;
    color: #fff;
}
.main-content .col-md-3 .drone .content-3:hover
{
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    text-align: left;
    color: #492ebb;
}
.main-content .col-md-3 i
{
    color: #fff;
}
.main-content .col-md-3 .content-4
{
    font-weight: 400;
    font-style: normal;
    text-align: left;
    color: #492ebb;  
}
.main-content .col-md-3 .content-4:hover
{
    color: #fff;  
}
footer
{
    background: #141414;
    padding: 30px;
}
footer .container .col-md-3 .content-1
{
    padding: 10px 0;
    text-align: left;
    color: #999; 
    font-size: 12px;
}
footer .container .col-md-3 .content-4
{
    color: #492ebb;  
}
footer .container .col-md-3 .content-4:hover
{
    color: #fff;  
}
footer .container .col-md-3 i
{
    color: #492ebb;  
    padding: 10px 2px;
    font-size: 36px;
}
footer .container .col-md-3 i:hover
{
    color: #b227d1;  
}
.to-top i
{
    font-size: 50px;
}
.to-top
{
    position: fixed;
    bottom: 50px;
    right: 40px; 
    border-radius: 99%;
    background: #fff;
    color: #3b3b3b;
}
.to-top:hover 
{
    position: fixed;
    bottom: 50px;
    right: 40px; 
    border-radius: 99%;
    background: #fff;
    color: #6930f5;
}